#contacto {
    display: none;
}

.descripcionUbicacion {
    text-align: center;
}

footer {

    padding-bottom: 1%;
}

.redes {
    padding-top: 30px;
    margin-bottom: 10px;
}

.redes a {
    padding: 3px;
}

.parrafoContacto {
    padding-bottom: 30px;
}

.redesContacto {
    padding-top: 90px;
    margin-bottom: 10px;
}


#datosMapa,
footer {
    text-align: center;
}

.datos {
    margin-left: 350px;

}

footer {
    background-color: $color-primario;
}