/* Fuentes usadas */

$fuente-principal: 'Roboto', sans-serif;
$funte-secundaria: 'Times New Roman', Times, serif;

/* Colores usados */

$color-primario: #779e57;
$color-secundario: #ebffd6;
$color-terciario: #d6ab5a;